{% trans_default_domain 'FOSUserBundle' %}
{% extends 'home.html.twig' %}

{% block body %}

    {% block fos_user_content %}
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            <div class="login-container">

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h2>Login to Dashboard</h2>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <label class="sr-only" for="username">{{ 'security.login.username'|trans }}</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <input type="text" name="_username" class="form-control" id="username" value="{{ last_username }}"
                                       placeholder="Username" required autofocus>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="sr-only" for="password">{{ 'security.login.password'|trans }}</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <input type="password" name="_password" class="form-control" id="password"
                                       placeholder="Password" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 1rem">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <button type="submit" id="_submit" name="_submit" class="btn btn-success"><i class="fa fa-sign-in"></i> {{ 'security.login.submit'|trans }}</button>
                    </div>
                </div>
            </div>
        </form>
    {% endblock fos_user_content %}
{% endblock %}
